@using MovieLibrary.Core
@model IEnumerable<IMovie>

@{
    ViewBag.Title = "Browse Movies";
}

@if (Model.Any())
{
    <table class="movies">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>    
        <tbody>
            @foreach (var movie in Model)
            {
                <tr data-id="@movie.Id" class="movie">
                    <td>@movie.Id</td>
                    <td>@movie.Title</td>
                    <td>@movie.ReleaseDate.ToString("d MMM yyyy")</td>
                    <td>
                        <a href="#" class="btn" data-confirmprompt="Are you sure you want to delete @movie.Title?">
                            <i class="icon-trash"></i>                            
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 id="notice">Sorry no movies available!</h2>    
}

