@using Microsoft.Web.Mvc
<!DOCTYPE html>
<html>
<head>
    <title>MovieLibrary - @ViewBag.Title</title>
    @Html.Css("Site.css")
    @Html.Css("movies.css")
    @Html.Script("jquery-1.7.2.min.js")
</head>

<body>
    <div id="header">
      Movie Library
    </div>
    <div id="menu">
      @Html.ActionLink( "Browse contents", "Index", "Movies" )
      @Html.ActionLink( "Add Movies", "New", "Movies" )
    </div>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
