@using Microsoft.Web.Mvc
<!DOCTYPE html>
<html>
<head>
    <title>MovieLibrary - @ViewBag.Title</title>
    @Html.Css("Site.css")
    @Html.Css("movies.css")
    @Html.Css("bootstrap.css")
    @Html.Css("font-awesome.css")
    @Html.Script("jquery-1.7.2.min.js", "jquery-1.7.2.js")
    @Html.Script("jquery.validate.min.js", "jquery.validate.js")
    @Html.Script("jquery.validate.unobtrusive.min.js", "jquery.validate.unobtrusive.js")
    @Html.Script("jquery.unobtrusive-ajax.min.js", "jquery.unobtrusive-ajax.js")
    @Html.Script("main.js")
    @Html.Script("MovieRepository.js")
    @Html.Script("MovieList.js")
</head>

<body>
    <header>Movie Library</header>
    <nav>
        <a class="btn" href="/Movies">
            <i class="icon-home"></i>
            Browse Contents
        </a>
        <a class="btn" href="#" id="add-movie">
            <i class="icon-plus-sign"></i>
            Add Movies
        </a>
    </nav>
    <section id="content">
        @RenderBody()
    </section>
</body>
</html>
